/*****************************************************************************************************/
/*****************************************************************************************************/
*{
    font-family: sans-serif;
}

body{
    height: 4000px;
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


/*****************************************************************************************************/
/*************************************** header ******************************************************/
header{
    background-image: url(../Images/headerBackground.jpg);
    background-color: #42A4CB;
    background-blend-mode: soft-light;
    background-size: cover;
    height: 500px;
}

header img{
    float: left;
    width: 250px;
    margin-top: 20px;
}

header nav{
    float: right;
}

header nav ul{
    list-style: none;
    margin-top: 50px;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover{
    background-color: fuchsia;
}


/*****************************************************************************************************/
/**************************************** title ******************************************************/
#title{
    text-align: center;
    width: 600px;
    margin: -120px auto;
    background-color: #eee;
    overflow: hidden;
    box-shadow: 8px 8px 5px #ddd;
}

#title p{
    font-size: 50px;
    text-transform: capitalize;
    color: #db1e66;
    margin: 0;
    padding: 30px 70px;
}

/*****************************************************************************************************/
/*************************************** about us ****************************************************/
#aboutUs{
    margin-top: 150px;
    padding-bottom: 100px;
}

#aboutUs section{
    background-color: bisque;
    width: 40%;
    float: left;
}

#aboutUs aside{
    width: 25%;
    float: left;
}

#aboutUs aside img{
    width: 250px;
    height: 150px;
}


/*****************************************************************************************************/
/***************************************** writer ****************************************************/
#writer{
    background-color: #EE4981;
    background-image: url(../Images/writerBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    
    text-align: center;
    padding: 40px;
    color: white;
}

#writer h3{}

#writer p{}

/*****************************************************************************************************/
/*************************************** solutions ***************************************************/
#solutions{
    padding: 100px 0;
}

#solutions .solutionsBlock{
    width: 50%;
    float: left;
    color: #EE4981;
}


#solutions .solutionsBlock h1{}

#solutions .solutionsBlock h3{}

#solutions .solutionsBlock p{}

#solutions .solutionsBlock a{
    text-decoration: none;
    color: #42A4CB;
}

#solutions .solutionsBlock ol{
    color: white;
    list-style-position: inside;
    padding-top: 60px;
}

#solutions .solutionsBlock ol li{
    background-color: #42A4CB;
    margin: 2px;
    padding: 5px;
    width: 100%;
}

#solutions .solutionsBlock ol p{
    background-color: #EE4981;
    margin: 0;
    margin-left: 50px;
    padding: 5px;
}


/*****************************************************************************************************/
/***************************************** study *****************************************************/
#study{
    background-color: #42A4CB;
    background-image: url(../Images/study.jpg);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

#study #studyLeft{
    width: 60%;
    padding: 100px 0;
    
}
#study #studyLeft h3{}
#study #studyLeft p{}
#study #studyLeft a{
    color: white;
    text-decoration: none;
}


/*****************************************************************************************************/
/************************************** statistics ***************************************************/
#statistics{
    padding: 100px 0;
}

#statistics .statisticsBlock{
    float: left;
    background-color: #EE4981;
    text-align: center;
    width: 23.5%;
    border-radius: 50px 0;
    margin-right: 2%;
    padding: 30px 0;
}

#statistics .statisticsBlock:last-of-type{
    margin-right: 0;
}

#statistics .statisticsBlock img{
    width: 40px;
    height: 40px;
}

#statistics .statisticsBlock p{
    color: white;
}

/*****************************************************************************************************/
/************************************** recentWork ***************************************************/
#recentWork{
    text-align: center;
}
#recentWork h1{
    color: #42A4CB;
}
#recentWork ul{
    list-style: none;
    margin: 30px 0;
}
#recentWork ul li{
    display: inline-block;
}
#recentWork ul li a{
    text-decoration: none;
    color: #EE4981;
    border: 2px solid #EE4981;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}


/*****************************************************************************************************/
/**************************************** gallery ****************************************************/
#gallery{
    padding-left: 10px;
}

#gallery img{
    width: 25%;
    margin: -3px;
    padding: 0;
    height: 300px;
}


/*****************************************************************************************************/
/**************************************** clients ****************************************************/
#clients{
    background-color: #42A4CB;
    padding: 50px 0;
    color: white;
}

#clients #clientsTitle{
    float: left;
    width: 30%;
}

#clients #clientsTitle h1{
    margin: 20% 0;
    font-size: 50px;
}



#clients #clientsContent{
    float: left;
    width: 70%;
}

#clients #clientsContent .clientsContentBlock{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: center;
}

#clients #clientsContent .clientsContentBlock h2{
    font-size: 20px;
}

#clients #clientsContent .clientsContentBlock p{}


















